/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #808080; /* Fondo gris */
    color: white;
  }
  
header {
    background-color: #333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
.navbar a:hover {
    text-decoration: underline;
  }
  
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
}

/* Content container */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

/* Profile cards */
.profile-card {
    background-color: #333;
    border-radius: 15px;
    padding: 40px; 
    text-align: center;
    width: 45%; 
    height: 65vh;
    justify-content: space-around;
}

.profile-picture {
    width: 200px; 
    height: 200px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-size: cover; /* Ensures the photo fills the circle */
    background-position: center; /* Centers the image within the circle */
    transition: transform 0.3s ease; /* Smooth effect */
}

.profile-picture:hover {
    transform: scale(1.1); /* Slightly bigger */
}

.profile-card h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 15px;
}

.profile-card p {
    font-size: 1rem; 
    margin: 0;
}
