body {
    margin: 0;
    padding: 0;
    background-color: #7f7f7f; /* Matches the gray background */
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling during the animation */
}

.container {
    text-align: center;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 95px;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 20px;
    animation: pulse 2s infinite ease-in-out; /* Pulsating effect for text */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.icon-container {
    text-align: center;
}

.icon-container a {
    display: inline-block;
    text-decoration: none;
}

.subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.icon {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.5s ease; /* Smooth transition */
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1); /* Slight hover effect */
}

.icon.clicked {
    transform: scale(1.5); /* Icon expands on click */
    animation: expandIcon 0.5s forwards ease-in-out; /* Trigger the expand animation */
}

@keyframes expandIcon {
    0% {
        transform: scale(1); /* Start at normal size */
    }
    100% {
        transform: scale(1.5); /* Expand to 150% of original size */
    }
}
